/* 
 * WARNING: 
 * Changing these options is not recommmended!
 *
 * These styles enhance the functionality of the slider
 * and changing them may break the slider's operation. 
 * 
 * If you wish tochange the look and feel of the slider
 * please refer to the theme api at:
 * http://dev.pantherdev.com/products/omnislide/docs/themeAPI
 */
div.slide-wrapper { overflow:visible; position:relative; }
div.slide-box { overflow:visible;  position:absolute; z-index:2; }

div.slide {  width:100%; height:100%; position:absolute; z-index:3; background:0 0 no-repeat; }
div.slide.active { z-index:4; }

div.slide-content {}

div.slide-nav { position:absolute; z-index:10; }
canvas.slide-timer { position:absolute; z-index:10; }
div.slide-overlay { position:absolute; z-index: 10; }
h1.slide-title { position:absolute; z-index: 10; }

div.slider-transition-box { overflow:hidden; position:absolute; }
div.slide-transition-box-wrapper { overflow:hidden; position:relative; top:0; display:block; z-index:7; }