/* THEMING CLASSES
 * ---
 * Please Modify these to change the theme of the slider
 */
.oxygen.slide-wrapper {
    width:960px; 
    height:512px;
    
    margin:0 auto;
}
.oxygen.slide-box { width:960px; height:512px; }

.oxygen.slide { background:rgb(25,25,25); }
.oxygen.slide.active {}

.oxygen.slide-nav { top:0; left:0; height:1px; width:1px; }
.oxygen.slide-nav-control {
    background:left top url('sprite.png') no-repeat;
    
    width:64px; 
    height:64px;
    
    cursor:pointer;
    position:absolute;
    top:224px;
}
.oxygen.slide-nav-back      { left:0; background-position:0 -192px; }
.oxygen.slide-nav-forward   { left:897px; background-position:0 -128px; }
.oxygen.slide-nav-pause     { display:none; left:448px; background-position:0 -64px; }
.oxygen.slide-nav-play      { display:none; left:448px; background-position:0 0; }
.oxygen.slide-nav-back:hover   { background-position:-64px -192px; }
.oxygen.slide-nav-forward:hover{ background-position:-64px -128px; }
.oxygen.slide-nav-pause:hover  { background-position:-64px -64px; }
.oxygen.slide-nav-play:hover   { background-position:-64px 0; }

/* Thumbnails are disabled in this theme */
.oxygen.slide-thumbs-wrapper { display:none; }
.oxygen.slide-thumb {}
.oxygen.slide-thumb.oxygen:hover {}
.oxygen.slide-thumb.active {}
.oxygen.slide-thumb-image {}
.oxygen.slide-thumb-title {}

.oxygen.slide-content { height:100%; width:100%; }
.oxygen.slide-overlay {
    color:#FFF;
    left:0; 
    top:70px;
    height:100px; 
    width:310px;
    padding:5px;
 }

.oxygene.slide-title {
    color:#FFF;
    left:0; 
    top:0;
    height:50px; 
    width:300px;
    padding:10px;
}

.oxygen.slide-timer { top:10px; right:10px; }
