/* THEMING CLASSES
 * ---
 * Please Modify these to change the theme of the slider
 */
div.slide-wrapper { 
    font-family: Arial,Helvetica,sans-serif;
    
    width:825px; 
    height:480px;
    
    padding:5px;
    background:#FFF;
    
    margin:0 auto;
    box-shadow:0 0 20px #BBB;
}
div.slide-wrapper * { font-family: Arial,Helvetica,sans-serif; margin:0; padding:0; }
div.slide-box { width:825px; height:425px; }

div.slide { }
div.slide.active { }

div.slide-nav {
    bottom:20px;
    left: 288px;
    height:65px;
    
    border-radius:20px;
    padding:0 35px;
    
    background: rgb(81,81,81);
    background: -moz-linear-gradient(top,  rgba(81,81,81,0.75) 0%, rgba(13,13,13,0.75) 45%, rgba(1,1,1,0.75) 50%, rgba(10,10,10,0.75) 55%, rgba(27,27,27,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,0.75)), color-stop(45%,rgba(13,13,13,0.75)), color-stop(50%,rgba(1,1,1,0.75)), color-stop(55%,rgba(10,10,10,0.75)), color-stop(100%,rgba(27,27,27,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(81,81,81,0.75) 0%,rgba(13,13,13,0.75) 45%,rgba(1,1,1,0.75) 50%,rgba(10,10,10,0.75) 55%,rgba(27,27,27,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(81,81,81,0.75) 0%,rgba(13,13,13,0.75) 45%,rgba(1,1,1,0.75) 50%,rgba(10,10,10,0.75) 55%,rgba(27,27,27,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(81,81,81,0.75) 0%,rgba(13,13,13,0.75) 45%,rgba(1,1,1,0.75) 50%,rgba(10,10,10,0.75) 55%,rgba(27,27,27,0.75) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(81,81,81,0.75) 0%,rgba(13,13,13,0.75) 45%,rgba(1,1,1,0.75) 50%,rgba(10,10,10,0.75) 55%,rgba(27,27,27,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf515151', endColorstr='#bf1b1b1b',GradientType=0 ); /* IE6-9 */
}
div.slide-nav-control {
    background:left top url('sprite.png') no-repeat;
    
    width:48px; 
    height:48px; 
    float:left;
    
    cursor:pointer;
    margin:5px;
}
div.slide-nav-back      { background-position:0 -144px; }
div.slide-nav-forward   { background-position:0 -96px; }
div.slide-nav-pause     { background-position:0 -48px; }
div.slide-nav-play      { background-position:0 0; }
div.slide-nav-back:hover   { background-position:-48px -144px; }
div.slide-nav-forward:hover{ background-position:-48px -96px; }
div.slide-nav-pause:hover  { background-position:-48px -48px; }
div.slide-nav-play:hover   { background-position:-48px 0; }

div.slide-thumbs-wrapper { height:50px; width:100%; position:absolute; top:435px; margin:0; padding:0; }
div.slide-thumb { float:left; height:50px; width:165px; cursor:pointer; }
div.slide-thumb:hover > span.slide-thumb-title { text-decoration:underline; }
div.slide-thumb.active > span.slide-thumb-title { text-decoration:underline; }
img.slide-thumb-image { float:left; height:50px; width:65px; border-radius:5px; }
span.slide-thumb-title { float:left; font-size:0.8em; display:block; padding:20px 0 20px 3px; }

div.slide-content {  }
div.slide-overlay {
    color:#FFF;
    left:0; 
    top:70px;
    height:100px; 
    width:310px;
    padding:5px;
    
    background: rgb(81,81,81);
    background: -moz-linear-gradient(top,  rgba(81,81,81,0.5) 0%, rgba(13,13,13,0.5) 45%, rgba(1,1,1,0.5) 50%, rgba(10,10,10,0.5) 55%, rgba(27,27,27,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,0.5)), color-stop(45%,rgba(13,13,13,0.5)), color-stop(50%,rgba(1,1,1,0.5)), color-stop(55%,rgba(10,10,10,0.5)), color-stop(100%,rgba(27,27,27,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf515151', endColorstr='#bf1b1b1b',GradientType=0 ); /* IE6-9 */
}

h1.slide-title {
    color:#FFF;
    left:0; 
    top:0;
    height:50px; 
    width:300px;
    padding:10px;
    
    background: rgb(81,81,81);
    background: -moz-linear-gradient(top,  rgba(81,81,81,0.5) 0%, rgba(13,13,13,0.5) 45%, rgba(1,1,1,0.5) 50%, rgba(10,10,10,0.5) 55%, rgba(27,27,27,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,0.5)), color-stop(45%,rgba(13,13,13,0.5)), color-stop(50%,rgba(1,1,1,0.5)), color-stop(55%,rgba(10,10,10,0.5)), color-stop(100%,rgba(27,27,27,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(81,81,81,0.5) 0%,rgba(13,13,13,0.5) 45%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 55%,rgba(27,27,27,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf515151', endColorstr='#bf1b1b1b',GradientType=0 ); /* IE6-9 */
}

canvas.slide-timer { top:10px; right:10px; }
